<div class="app">
  <header class="app-header">
    <img src="\images\product-hive.jpg" class="app-logo" alt="logo">
    <h1>PRODUCT HIVE</h1>
  </header>
  <app-navbar></app-navbar>

  <div style="background-image: url(/images/img2.jpg);background-repeat: no-repeat; height: fit-content;
  background-size: cover;">
    <section>
      <router-outlet></router-outlet> <!--Displays Child Components-->
    </section>
  </div>


  <footer class='footer'>
    <p>&copy; All Right Reserved to Coforge Technologies</p>
  </footer>
  
</div>